body{
    margin: 0;
    padding: 0;
    background: url(../img/sun1.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    background: rgba(33, 33, 33, 0.31);
    align-items: center;
    
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
li{
    list-style: none;
    padding-right: 3em;
    font-size: 1.5em;
}
h1{
    margin: 0 2em;
    
}
ul{
    margin: 0;
    display: flex;
    list-style: none;
}